---
# tasks file for easy_rsa

- name: Include distribution specific variables
  include_vars: "{{ ansible_distribution }}.yml"
  tags:
    - easy_rsa
  when: ansible_distribution is defined

- name: Create CA directory
  command: make-cadir {{ easy_rsa_ca_dir }}
  args:
    creates: "{{ easy_rsa_ca_dir }}"
  tags:
    - easy_rsa

- debug:
    msg: "{{ easy_rsa_ca_dir }}"

- debug:
    msg: "{{ play_hosts }}"

- name: Create keys directory
  file:
    path: "{{ easy_rsa_key_dir }}"
    mode: 0700
    state: directory
  tags:
    - easy_rsa

- name: Create vars configuration file
  template:
    src: vars.j2
    dest: "{{ easy_rsa_ca_dir }}/vars"
    mode: 0644
  tags:
    - easy_rsa

- name: Prep the keys directory
  shell: ". ./vars; ./clean-all >/dev/null"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/index.txt"
  tags:
    - easy_rsa

- name: Generate Diffie-Hellman parameters
  shell: ". ./vars; ./build-dh >/dev/null"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/dh{{ easy_rsa_key_size }}.pem"
  tags:
    - easy_rsa

- name: Build CA
  shell: ". ./vars; ./pkitool --initca >/dev/null"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/ca.key"
  tags:
    - easy_rsa

- name: Generate server certificate and key
  shell: ". ./env; ./easyrsa build-server-full {{ item }} nopass >/dev/null"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/{{ item }}.key"
  with_items:
    - "{{ easy_rsa_servers }}"
  tags:
    - easy_rsa

- name: Generate CRL file
  shell: '. ./vars; $OPENSSL ca -gencrl -out {{ easy_rsa_key_dir }}/crl.pem -config "$KEY_CONFIG"'
  environment:
    KEY_CN: ""
    KEY_OU: ""
    KEY_NAME: ""
    KEY_ALTNAMES: ""
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/crl.pem"
  tags:
    - easy_rsa

- name: Generate client certificates and keys
  shell: ". ./env; ./easyrsa build-client-full {{ item }} nopass >/dev/null"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_private_dir }}/{{ item }}.key"
  with_items:
    - "{{ easy_rsa_clients }}"
  tags:
    - easy_rsa
